@model IEnumerable<ChatApplication.Models.Message>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>Чат-комната</h2>

    <div class="main">
        <div id="loginBlock">
            Введите логин:<br />
            <input id="txtUserName" type="text" />
            <input id="btnLogin" type="button" value="Войти" />
        </div>
        <div id="chatBody">
            <div id="header"></div>
            <div id="inputForm">
                <input type="text" id="message" />
                <input type="button" id="sendmessage" value="Отправить" />
            </div>
            <div style="display: flex;">
                <div id="chatroom"></div>
                <div style="width:100px"></div>

                <div id="chatusers">
                    <p><b>Все пользователи</b></p>
                </div>
                <div style="width:100px"></div>
                <div id="history">
                    <p><b>История сообщений</b></p>

                    @if (@Model.Count() > 10)
                    {
                        for (int i = @Model.Count() - 10; i < @Model.Count(); i++)
                        {
                            <p><b>@Model.ElementAt(i).Name:</b>  @Model.ElementAt(i).Text</p>
                        }
                    }
                    else
                    {
                        foreach (ChatApplication.Models.Message curr in Model)

                        {
                            <p><b>@curr.Name:</b>  @curr.Text</p>
                        }
                    }

                </div>
            </div>
        </div>
        <input id="hdId" type="hidden" />
        <input id="username" type="hidden" />
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>
</body>
</html>